@import '../../style/variables.scss';

.progress {
  margin-bottom: 67px;
  &__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
  }
  &__gray {
    width: 48.5%;
    height: 8px;
    background: rgba($color: $gray, $alpha: 0.4);
  }
  &__steps {
    display: flex;
    gap: 48.5%;
    padding: 0 2px;
  }
}