@font-face {
  font-family: "SB Sans Interface"; 
  src: url('../assets/fonts/SBSansInterface.ttf'),
       url('../assets/fonts/SBSansInterface.woff'),
       url('../assets/fonts/SBSansInterface.woff2')
}

@font-face {
  font-family: "SB Sans Text"; 
  src: url('../assets/fonts/SBSansText.ttf'),
       url('../assets/fonts/SBSansText.woff'),
       url('../assets/fonts/SBSansText.woff2')
}