@import './variables.scss';

.form {
  display: flex;
  flex-direction: column;
  .label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $primary;
    margin-bottom: 8px;
  }

  .input {
    padding-left: 12px;
    width: 400px;
    height: 44px;
    background: rgba(0, 0, 0, 0.04);  
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    margin-bottom: 24px;
    &__error {
      margin-top: -15px;
      color: darken(red, 10%);
    }
    &__tip {
      font-family: 'SB Sans Interface';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.48);
      margin-top: -16px;
      margin-bottom: 24px;
      cursor: pointer;
    }
  }
}