@import './variables.scss';

.form {
  display: flex;
  flex-direction: column;
  .label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $primary;
    margin-bottom: 8px;
  }

  .input {
    padding-left: 12px;
    width: 400px;
    height: 44px;
    background: none;  
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    margin-bottom: 24px;
    &_start {
      background: rgba(0, 0, 0, 0.04); 
    }
    &_multiple {
      margin-bottom: 8px;
    }
    &_box {
      width: 16px;
      height: 16px;
      margin-bottom: 8px;
    }
    &_textarea {
      font-family: 'SB Sans Interface';
      padding: 12px;
      width: calc(100% - 24px);
      height: 84px;
    }
    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__error {
      margin-top: -15px;
      color: darken(red, 10%);
    }
    &__tip {
      font-family: 'SB Sans Interface';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.48);
      margin-top: -16px;
      margin-bottom: 24px;
      cursor: pointer;
    }
  }

  &__group {
    margin-bottom: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0 10px;
    &_adv {
      margin-bottom: 8px;
    }
    .label,
    .input {
      margin-bottom: 0;
    }
  }

  &__plus {
    width: 44px;
    height: 44px;
    border: 1.5px solid $button;
    border-radius: 4px;
    background: url('../assets/plus_icon.svg') no-repeat center center;
    cursor: pointer;
    transition: .3s;
    &:hover {
      background: url('../assets/plus_icon.svg') no-repeat center center,
                  darken($button-color, 3%);
    }
  }

  &__delete-img {
    width: 20px;
    height: 19px;
    background: url('../assets/delete_icon.svg') no-repeat center center;
    border: none;
    transition: .3s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 500px) {
  .form {
    .input, .input_start {
      width: 250px;
      &_box {
        width: 16px;
      }
    .input_textarea {
      width: calc(100% - 24px);
    }
    }
  }
}