@import '../../style/variables.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);

  .modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 32px;
    width: 460px;
    height: 312px;
    z-index: 2;
    background: #FFFFFF;
    margin: auto;
    transform: translateY(calc(50vh - 156px));

    &__info {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  
    &__title {
      font-family: 'SB Sans Interface';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #333333;
      margin: 0;
    }

    &__close {
      background: url('../../assets/close_icon.svg') no-repeat center center,
                rgba(0, 0, 0, 0.04);
      border: none;
      width: 28px;
      height: 28px;
      border-radius: 100px;
      padding: 4px;
      transition: .3s;
      &:hover {
        transform: scale(1.2);
      }
    }
  
    &__img {
      width: 80px;
      height: 80px;
    }
  
    .button {
      width: auto;
      &__link {
        color: $button-color;
      }
      &_close {
        align-self: self-end;
      }
    }
  }
}

@media (max-width: 480px) {
  .overlay {
    .modal {
      width: 90vw;
    }
  }
}